@import '../../../../../../scss/custom';

.spinner {
    position: relative;
    left: 45%;
}

.mat-tab-body-content{
    overflow: hidden !important;
}

.matField {
    width: 100%;
}

.mat-dialog-container {
    min-width: 85em !important;
    width: 85em !important;
}

.mat-dialog-content {
    width: 85em !important;
    min-width: 85em !important;
}