<div class="bg-gradient-primary2 centre">
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Enter your email address below, if your email is registered on our system, we will send you a link to reset your password</h1>
                                    </div>
                                    <form class="user" [formGroup]="fpForm" (ngSubmit)="onSubmit()">
                                        <div class="form-group">
                                            <!-- <input type="text" formControlName="fpEmail"
                                                class="form-control form-control-user" id="email"
                                                aria-describedby="Email" placeholder="Email" required> -->
                                                <mat-form-field full-width>
                                                    <input formControlName="fpEmail" matInput placeholder="Email Address">
                                                    <mat-error *ngIf="fpForm.get('fpEmail').hasError('required')">Please enter email address
                                                    </mat-error>
                                                    <mat-error *ngIf="fpForm.get('fpEmail').hasError('email')">Invalid email address
                                                    </mat-error>
                                                </mat-form-field>
                                        </div>
                                        <button [disabled]="!fpForm.valid" type="submit" class="btn btn-primary btn-user btn-block">
                                            Submit
                                        </button>
                                        <!-- <span>
                                            <sub>*password must contain at least 8 characters, 1 uppercase character, 1 lowercase character, and one special character</sub>
                                        </span> -->
                                        <hr>
                                        <span>
                                            already have an account? <a href="" [routerLink]="['../login']" routerLinkActive="router-link-active">login </a>
                                        </span>
                                    </form>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <app-phoenix-spinner [displayProgressSpinner]="displayProgressSpinner" parentSpinner="forgotPassword"></app-phoenix-spinner> -->